@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Send+Flowers&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

body {
    background-color: #f686bd;
    font-family: 'Urbanist', sans-serif;
}

header {
    width: 100%;
}

main {
    flex: 1;
    width: 100%;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f0f0f0;
    font-size: 1.75rem;
}

h1 {
    text-align: center;
    font-family: 'Send Flowers', cursive;
    font-size: 4.5rem;
}

button {
    padding: 1rem 1.25rem;
    background-color: #84F585;
    border: none;
    border-radius: 0.5rem;
    font-size: 56px;
    color: black;
    margin-top: 96px;
}

input {
    margin-top: 96px;
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    border: 0;
    border-radius: 0.5rem;
}

#start-box {
    width: 100%;
    height: auto;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-size: 24px;
    text-align: center;
    width: 80%;
}

#question-box {
    display: none;
    width: 100%;
    height: auto;
}

.question-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback-text {
    color: red;
    font-weight: bold;
}

ul {
    list-style-type: none;
}