@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Send+Flowers&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {}

.bg-pink {
    background-color: #fda8d1 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.flowers {
    font-family: 'Send Flowers', cursive;
}

.btn.btn-green {
    --bs-btn-color: #000;
    --bs-btn-bg: #A7FCA7;
    --bs-btn-border-color: #A7FCA7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #64c964;
    --bs-btn-hover-border-color: #64c964;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #64c964;
    --bs-btn-active-border-color: #64c964;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #64c964;
    --bs-btn-disabled-border-color: #64c964;
}

.border-top {
    --bs-border-color: rgb(44, 44, 44);
}